<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="user_base :: Layout(~{::section})">

<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center" th:text="${user.name}"></h1>
                <table class="table table-striped text-center">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">SCMUSER<span th:text="${user.id}"></span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${user.email}"></span></td>
                      </tr>
        
        <!--               <tr>
                        <th scope="row">Phone</th>
                        <td><span th:text="${user.phone}"></span></td>
                      </tr> -->
        
                      <tr>
                        <th scope="row">Role</th>
                        <td><span th:text="${user.role}"></span></td>
                      </tr>
        
                      <tr>
                        <th scope="row">Account Activated</th>
                        <td><span th:text="${user.enabled}"></span></td>
                      </tr>
        
                      <tr>
                        <th scope="row">About</th>
                        <td><span th:text="${user.about}"></span></td>
                      </tr>
        
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>

</html>
